/*Split the Bill*/

body {
  font-family: verdana;
  padding: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
  margin-right: 4rem;
}


ul {
  list-style: none;
}


/* NAVBAR */
nav {
  font-size: 1.25rem;
  display: flex;
  /*justify-content: space-around;*/
  margin-bottom: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

nav > a {
  color: black;
  padding: 0.5rem;
  text-decoration: none;
}

nav > a:hover {
  text-shadow: 2px 2px 4px #00cc00;
}

td > a {
  color: black;
  padding: 0.5rem;
  text-decoration: none;
}

td > a:hover {
  text-shadow: 2px 2px 4px #00cc00;
}


.jumbotron {
  background-color: #00cc00; /* green */
  padding: 50px 25px;
}

.columns {
  display: flex;
  justify-content: space-evenly ;
}
.rows {
  display: flex;
  justify-content: space-evenly ;
}

h2 {
  margin-bottom: 2rem;
}